
$base-font-size: 14px;
@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/functions.scss";
@import "libs/responsive.scss";

$primaryColor: grey;
$padding: 20px;

html, body {
    font-size: $base-font-size;
}

body{
    padding: $padding;
    background: #ccc;
    font-family: sans-serif;
} 

%btn{
    border-radius: 3px;
    padding: em(5) em(12);

}

.btn {
    @extend %btn;
    text-decoration: none;
    background: $primaryColor;
    //@debug lightness($primaryColor) > 50%;

    @if (lightness($primaryColor) > 50%) {
        color: #000;
    }@else{
        color:#fff;
    }


    &:hover {
        background: gray;
    }

    /*@media only screen and (max-width: 1200px){
       padding:  10px;
    }
    */
}

@for $i from 1 through 4 {
    .m-#{$i}{
        margin:0 ($i * .25rem);
    }
}

$animals: bear, lion, camel;
@each $animal in $animals {
    .icon-#{$animal}{
        background: url(img/#{$animal}.png);
    }
    
}


$categories:
    chien #ff0000,
    chat #00ff00,
    poisson #0000ff;

@each $category in $categories {
  .#{nth($category, 1)}{
    background: nth($category, 2);

    @if (lightness(nth($category, 2)) > 50%) {
        color: #000;
    }@else{
        color:#fff;
    }
  }
    
}

.big {
    font-size: 2rem;
    text-transform: uppercase;
}

.btn-danger {
    @extend .btn;
    background: red;
    &:hover {
        background: orangered;
    }
}

%shadow {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.card {
    @extend %shadow;
    padding: 10px;
    border-radius: 3px;
    /*@include rotate(50deg);*/
    position: relative;
    background: #fff;
    @include triangle(#ff0000,15px);
    /*@include triangle($size:55px); /*changer un seul parametre*/

}


.card-action {
    @extend .btn;
}

.card-cancel {
    @extend .btn-danger;
}

.card-actions {
    display: flex;
}

/*je suis sur variables*/

@media #{$medium-up} {
    .btn{
        width: 100%;
    }

}