
.footer {
    height: 200px;
    background-color: #353535;
    a{
      text-decoration: none;
      color: #fff;
      font-size: 15px;
    }

    &__logo {
      padding-left: 20px;
      padding-top: 20px;
      margin-top: 0;
      font-size: 20px;
      color: #fff;
      font-family: "shrikhand";
    }

    &__Lien{
      list-style-type: none;
      padding: 20px;
      li{
        padding-bottom: 5px;
      }
    }

    &__subtitle{
      display: flex;
      font-size: 15px;
      &--txt
      {
      margin: 0;
      }
      .fa-utensils{
        padding-right: 10px;
      }
      .fa-hands-helping {
          padding-right: 5px;
      }
    }

  }
  
  /* RESPONSIVE */
  
  @media (min-width: 450px) and (max-width : 1600px){
    .footer{
      text-align: center;

      &__Lien{
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
  
  @media (min-width: 1601px){
    .footer{
      text-align: center;

      &__Lien{
        display: flex;
        justify-content: space-evenly;
      }
    }
  }