

.header{
    z-index: 10;
    position: relative;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    height: 70px;
    display: flex;
    align-items: center;
    &__logo{
        text-decoration: none;
        display: flex;
        justify-content: center;
        width: 100%;
        &--image{
            width: 45%;
        }
    }
}


/* RESPONSIVE */
  
@media (min-width: 768px){
    .pagelayout {
        width: 100%;
    }

    .header{
        height: 90px;
        &__logo{
            &--image{
                width: 22%;
            }
        }
    }
}
  
@media (min-width: 1025px) {
    .pagelayout{
        width: 98%;
        max-width: 1440px;
        margin: auto;
    }
    .header{
        height: 90px;
        &__logo{
            &--image{
                width: 14%;
            }
        }
    }
}