
.explorer{
    background-color: #F6F6F6;
    height: 380px;

    &__adresse{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #353535;
        background-color: #EAEAEA;
        font-family: "roboto";
        font-size: 1.2rem;
        

        &--search{
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: hidden;
            background-color: #EAEAEA;
        }
        &--search:focus {
            outline: none;
        }
        
        &--icon{
            color: #353535;
            display: flex;
            align-items: center;
            margin-right:15px;
            margin-left: 100px;
        }
        
    }

    
    h1{
        text-align: center;
        font-size: 30px;
        padding: 10px;
    }
    
    p{
        text-align: center;
        padding: 5px;
    }

    
    &__btn{
        font-family: "Roboto", sans-serif;
        width: 250px;
        display: flex;
        background-image: linear-gradient(355deg,$colorSecondaire,$colorPrimaire) ;
        border-radius: 30px;
        padding: 16px 24px;
        align-items: center;
        justify-content: center;
        box-shadow: 4px 4px 10px rgb(0 0 0 / 25%);
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        color: white;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        &:hover{
            box-shadow: 4px 4px 10px rgb(0 0 0 / 50%);
            filter: brightness(1.1);
        }
    }
}

.fonctionnement{
    margin-top: 40px;
    margin-bottom: 40px;
    &__title{
        margin-left: 20px;
    }

    &__liste{
        display: flex;
        flex-direction: column;
        counter-reset: num;

        &--objet{
            list-style-type: none;
            padding: 30px;
            margin-bottom: 20px;
            margin-right: 20px;
            margin-left: 35px;
            border-radius: 20px;
            background-color: #F6F6F6;
            box-shadow: 0 1px 15px #0000002e;
            counter-increment: num;
            .fas{
                color: #8D8D8D;
            }
        }:hover{
            background: #f5edff;
        }
        &--objet::before{
            font-family: "roboto";
            display: flex;
            width: 25px;
            height: 25px;
            content: "" counter(num);
            color: #fff;
            font-size: 16px;
            background: $colorPrimaire;
            border-radius: 100px;
            position: absolute;
            justify-content: center;
            align-items: center;
            margin-left: -45px;
            margin-top: -4px;

        }

        &--link{
            color: #000;
            font-weight: 450;
            text-decoration: none;
            padding-left: 20px;
        }
    }
}

.restaurants{
    background-color: #F6F6F6;
    padding-top: 40px;
    padding-bottom: 40px;

    &__title{
        margin-left: 20px;
    }

    &__card{

        &--heart{
            color: $colorPrimaire;
            //font-weight: 100 !important;
            border: 0;
            background: transparent;
            font-size: xx-large;
            display: flex;
            flex-direction: row-reverse;
            margin: -40px 20px 20px 0px;
        }
        //continuer avec hover
        &--heart:focus{
            .fa-heart{
                animation: fill 3s;
                animation-fill-mode: forwards;
                font-weight: 800;
                transform: scale(1.3);
                transition: all 750ms;
            }
            
        }

        &--heart i{
            &:hover{
                color: $colorPrimaire;
                font-weight: 800;
                transform: scale(1.3);
                transition: all 750ms;
            }

        }
        &--link{
            text-decoration: none;
            color: #000;
        }

        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 0 5px 16px #0000002e;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;

        &--image img {
            width: 100%;
            height: 240px;
            object-fit: cover !important;
            border-radius: 20px 20px 0 0;
        }

        &--body
        {
            height: 65px;
            margin-left: 20px;

            &-title{
                margin-top: 10px;
                margin-bottom: 2px;
            }
        }


        &--nouveauSpan{
            font-family: "roboto";
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 6px 12px;
            font-weight: 500;
            font-size: 14px;
            color: #008766;
            background: #99E2D0;
            border-radius: 2px;
            
        }



    }


}


@media (min-width: 768px){
    .fonctionnement{
        &__title {
            text-align: center;
          }
        &__liste{
            flex-direction: column;
            text-align: center;
        }

    }

    .restaurants{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        &__title{
            position: absolute;
            margin: 0px 20px;
        }
        &__card {
            display: flex;
            width: fit-content;
            margin-top: 50px;

            &--image img {
                height: 350px;
            }

            &--body {
                text-align: left;
                font-size: 13px;
            }
        }

    }
}


@media (min-width: 1025px) {
    .fonctionnement{
        &__title {
            text-align: center;
            margin-left: 0;
          }
        &__liste{
            flex-direction: row;
            justify-content: center;
            text-align: center;
        }

    }

    .restaurants{

        display: flex;
        &__card {
            &--body {
                font-size: 16px;

            }
        }
    }


    .explorer{
        &__adresse{
            &--icon {
                margin-left: 80px;
            }
        }
    }
}