

.explorer{
    background-color: #F6F6F6;
    height: 380px;

    &__adresse{
        height: 50px;
        display: flex;
        justify-content: center;
        color: #353535;
        background-color: #EAEAEA;
        font-size: 1.2rem;
        position: relative;
        &--search{
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: hidden;
            background-color: #EAEAEA;
        }
        &--search:focus {
            outline: none;
        }
        .explorer__adresse--icon{
            color: #353535;
            display: flex;
            align-items: center;
            margin-right:15px;
        }
        
    }

    
    h1{
        text-align: center;
        font-size: 30px;
        padding: 10px;
    }
    
    p{
        text-align: center;
        padding: 5px;
    }

    
    &__btn{
        display: flex;
        background-image: linear-gradient(135deg,$colorSecondaire,$colorPrimaire) ;
        border-radius: 20px;
        border: none;
        width: 230px;
        padding: 15px;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 6px 7px #0000002e;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        color: white;
        text-align: center;

        &:hover{
            cursor: pointer;
            opacity: 1;
            animation: flash 1.5s;  
            box-shadow: 5px 15px 21px #00000080;
        }
    }
}

.Fonctionnement{
    margin-top: 40px;
    margin-bottom: 40px;
    &__title{
        margin-left: 20px;
    }

    &__Liste{
        display: flex;
        flex-direction: column;
        counter-reset: num;

        &--objet{
            list-style-type: none;
            padding: 30px;
            margin-bottom: 20px;
            margin-right: 20px;
            margin-left: 35px;
            border-radius: 20px;
            background-color: #F6F6F6;
            box-shadow: 0 1px 15px #0000002e;
            counter-increment: num;
            .fas{
                color: #8D8D8D;
            }
        }
        &--objet::before{
            display: flex;
            width: 25px;
            height: 25px;
            content: "" counter(num);
            color: #fff;
            font-size: 16px;
            background: $colorPrimaire;
            border-radius: 100px;
            position: absolute;
            justify-content: center;
            align-items: center;
            margin-left: -45px;
            margin-top: -4px;

        }

        &--link{
            color: #000;
            font-weight: 450;
            text-decoration: none;
            padding-left: 20px;
        }
    }
}

.Restaurants{
    background-color: #F6F6F6;
    padding-top: 40px;
    padding-bottom: 40px;

    &__title{
        margin-left: 20px;
    }

    &__card{
        &--link{
            text-decoration: none;
            color: #000;
        }

        display: flex;
        border-radius: 15px;
        box-shadow: 0 5px 16px #0000002e;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;

        &--image img {
            width: 100%;
            height: 240px;
            object-fit: cover !important;
            border-radius: 20px 20px 0 0;
        }

        &--body
        {
            height: 65px;
            margin-left: 20px;

            &-title{
                margin-top: 10px;
                margin-bottom: 2px;
            }
            &-heart{
                color: $colorPrimaire;
                //font-weight: 100 !important;
                font-style: italic;
                font-size: 25px;
                display: flex;
                flex-direction: row-reverse;
                margin: -40px 30px 0px 0px;
            }
            &-heart i{
                font-style: italic;
                &:hover{
                    color: $colorPrimaire;
                    font-weight: 800;
                }

            }
        }

        &--nouveauSpan{
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 6px 12px;
            font-weight: 500;
            font-size: 14px;
            color: #008766;
            background: #99E2D0;
            border-radius: 2px;
            
        }



    }


}



/*@media (min-width: 450px) and (max-width : 1600px){

    .Fonctionnement__Liste{
        flex-direction: row;
    }
}*/

@media (min-width: 1601px){
    .Fonctionnement{
        &__title {
            text-align: center;
          }
        &__Liste{
            flex-direction: row;
            justify-content: center;
        }

    }

    .Restaurants{
        &__card {
            display: block;

            &--image img {
                height: 350px;
            }

            &--body {
                text-align: center;
            }
        }

    }

}